<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>Форма поиска</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="6" class="searchForm_preview mx-auto">
              <SearchForm/>
            </v-col>
            <v-col cols="6">
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Поле ввода</v-list-item-title>
                  <v-list-item-subtitle>Полее для ввода адреса</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Кнопка</v-list-item-title>
                  <v-list-item-subtitle>Кнопка запуска поиска</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>
            <v-col cols="12" mt-4>
              Для поиска необходимо ввести адрес в поле ввода и нажать кнопку "Search" или клавишу "Enter". По окончанию поиска результаты будут доступны в виде таблицы.
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" mt-4>
      <v-card>
        <v-card-title>Иструменты разработки</v-card-title>
        <v-list three-line>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Vue.js</v-list-item-title>
              <v-list-item-subtitle>Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces.</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Vuetify</v-list-item-title>
              <v-list-item-subtitle >Vuetify is a Vue UI Library with beautifully handcrafted Material Components. No design skills required — everything you need to create amazing applications is at your fingertips.</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Axios</v-list-item-title>
              <v-list-item-subtitle >Promise based HTTP client for the browser and node.js</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import SearchForm from '@/components/SearchForm.vue'

export default {
  name: 'About',
  components: {
    SearchForm
  }
}
</script>

<style lang="scss" scoped>
.searchForm_preview{
  pointer-events: none;
  zoom: 0.8;
}
</style>