<template>
  <v-row class="text-center">
    <v-col cols="6" class="mx-auto mb-4" tag="form" @submit.prevent="Submit()">
      <v-text-field
        v-model="address"
        label="Address"
        required
      ></v-text-field>
      <v-btn @click.prevent="Search" :disabled="address == ''">Search</v-btn>
    </v-col>
    <v-col cols="12" v-show="loading">
      <v-progress-linear
        indeterminate
      ></v-progress-linear>
    </v-col>
    <v-col cols="12" v-show="error">
      <v-alert type="error" dense>
        Ошибка! Попробуйте позже или измените запрос.
      </v-alert>
    </v-col>
    <v-col cols="12" v-show="searchResult.length">
      <v-data-table
        :headers="headers"
        :items="searchResult"
        :items-per-page="10"
        dense
      ></v-data-table>
    </v-col>
    <v-col cols="12" v-show="!searchResult.length && isSearch && !loading">
      <v-alert type="info">
        Не удалось найти, пожалуйста измение параметры поиска.
      </v-alert>
    </v-col>
  </v-row>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'SearchForm',

    data: () => ({
      address: '',
      searchResult: [],
      isSearch: false,
      loading: false,
      error: false,

      headers: [
        {
          text: 'ZIP',
          value: 'postal_code',
        },
        {
          text: 'City',
          value: 'city_with_type',
        },
        {
          text: 'Street',
          value: 'street_with_type',
        },
        {
          text: 'House',
          value: 'house',
        },
        {
          text: 'Flat',
          value: 'flat',
        }
      ]
    }),

    methods: {
      Submit(){
        if(this.address != '')
          this.Search();
      },
      Search(){
        this.isSearch = true;
        this.loading = true;
        this.error = false;

        let url = "https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address";
        let token = "f9c074b3459e4114c48b9051cb06ba4c2db73a6e";

        axios({
          method: 'post',
          url: url,
          headers: {
            "Content-Type": "application/json",
            "Accept": "application/json",
            "Authorization": "Token " + token
          },
          data: JSON.stringify({query: this.address})
        }).then((result) => {
          this.searchResult = result.data.suggestions.map((item) => item.data);
          this.loading = false;
        }).catch((error) => {
          this.error = true;
        })
      }
    }
  }
</script>
