<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-item
          v-for="link in links"
          :key="link.name"
          :to="{name: link.name}">
          <v-list-item-action>
            <v-icon>{{ link.meta.img }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ link.meta.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <v-layout align-center>
          <v-img height="40" width="40" src="@/assets/logo.png"/><v-flex ml-4>{{ $route.meta.title }}</v-flex>
        </v-layout>
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <router-view/>
      </v-container>
    </v-main>
    <v-footer
      color="indigo"
      app
    >
      <span class="white--text">&copy; <a class="white--text" target="_blanck" href="https://career.habr.com/denis-baryshnikov">Denis Baryshnikov</a> {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import route from '@/router'
export default {
  name: 'App',

  data: () => ({
    drawer: false
  }),

  computed: {
    links(){
      return route.options.routes.filter((route) => !route.redirect);
    }
  }
};
</script>
